@use '../../../../../styles/abstracts' as a;


.card {
  flex: 1 1 250px;
  width: 200px;
  padding: a.$spacing-md;
  position: relative;
  @include a.panel;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-4px);

    & .card-shippingInformation{
      font-weight: bold;
      font-size: 0.62rem;
    }
  }

  h3 {
    margin: 5px 0;
    color: a.$color-text-secondary;
    font-size: 16px;

  }

  &-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; 
    padding: 0;
    margin: 5px 0 0 0;
    line-height: normal;
    & > span {
      font-size: 10px;
      font-weight: normal;
      top: 15px;
      right: 0;
    }   
    p{
      margin: 0;
      padding: 0;
      &.card-shippingInformation{
          line-height: normal;    
          font-size: 10px;
          display: flex;
          justify-content: end;
          align-items: end;
      }
    }    
  }

  &-price{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left; 
    padding: 0;
    line-height: normal;
    span {
        font-size: 25px;
        font-weight: 700;
        color: a.$color-primary;
        position: relative;   
        &:last-child {
          top: 0;
          font-size: 12px;
          font-weight: normal;
        }     
    }
  }
  &-brand{
      line-height: normal;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 8px;
      right: 10px;
      font-size: 10px;
      color: a.$color-primary-light;
  }
 

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  
}