@use '../abstracts' as a;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: a.$spacing-sm;

  padding: 12px 20px;

  border: none;
  border-radius: 6px;

  text-decoration: none;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;

  @include a.transition;

  &:hover {
    opacity: 0.9;
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;    
  }
}

.btn-primary {
  background-color: a.$color-primary-light;
  color: a.$color-white;
}

.btn-secondary {
  background-color: a.$color-white;
  color: a.$color-text-primary;
  border: 1px solid a.$color-border;
}
 
.btn-danger {
  background-color: a.$color-danger;
  color: a.$color-white;
}

.btn-disabled{
  background-color: a.$color-disabled;
  color: a.$color-white; 
  &:hover{
    background-color: a.$color-disabled;
    box-shadow:none;
  }
}

.button{
  &:hover {
    cursor: pointer;
    background-color: a.$color-background;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  }  
  border-radius: 0;
  padding: 0;
  min-width: 64px;
  height: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  line-height: inherit;
  user-select: none;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0);  
  .mat-icon{
    font-size: 24px;
    height: 24px;
    width: 24px; 
    margin-right: 0;
  }
  
} 