<app-loading></app-loading>
<app-scroll-top></app-scroll-top>
            


 
<mat-sidenav-container class="sidenav-container">

    <!-- ✅ MAT-SIDENAV: Panel lateral (sidebar) -->
    <!-- Modo: "side" = siempre visible, "over" = flotante -->
    <mat-sidenav  mode="over"  position="end"  #sidenav>    
            <!-- opened = comienza abierto -->
        Sidenav content
    </mat-sidenav>
 
    <mat-sidenav-content>
            <div class="layout">

                <app-sidebar /> 

                <div class="content-wrapper">

                    <app-header /> 

                    <main class="main-content"> 

                        <router-outlet />

                    </main>

                </div>

            </div>
    </mat-sidenav-content>

</mat-sidenav-container>