<h1>Dashboard</h1>

<div class="cards">

  <div class="card">
    <h3>Clientes</h3>
    <span>1.245</span>
  </div>

  <div class="card">
    <h3>Cuentas</h3>
    <span>8.432</span>
  </div>

  <div class="card">
    <h3>Operaciones</h3>
    <span>15.876</span>
  </div>

  <div class="card">
    <h3>Incidencias</h3>
    <span>12</span>
  </div>

</div>

@if (authService.hasSession()) {
  <div class="panel" >
    <h2>Actividad reciente</h2>
    <p>Último acceso: 30/07/2026 10:30</p>
    <p>Última operación validada: Transferencia SEPA</p>
    <p>tiempo de session: <span> {{ authStore.remainingTime() }}</span></p>
  </div>
}