<nav aria-label="breadcrumb" class="breadcrumb">
  <h1>Listado</h1>
  <ol class="breadcrumb-list">
    <!-- Primer nivel -->
    <li>
      <a routerLink="/" class="mat-body-1">Inicio</a>
    </li>
    
    <!-- <mat-icon aria-hidden="true">chevron_right</mat-icon>

    Segundo nivel
    <li>
      <a routerLink="/proyectos" class="mat-body-1">Proyectos</a>
    </li> -->

    <mat-icon aria-hidden="true">chevron_right</mat-icon>

    <!-- Nivel actual (activo) -->
    <li aria-current="page" class="mat-body-1 active">
      Listado Productos
    </li>
  </ol>
  
</nav>