<nav aria-label="breadcrumb" class="breadcrumb">
  <h1>{{ data()?.title }}</h1>
  <ol class="breadcrumb-list">
    <!-- Primer nivel -->
    <!-- <li>
      <a routerLink="/" class="mat-body-1">Inicio</a>
    </li> -->
    
    <!-- <mat-icon aria-hidden="true">chevron_right</mat-icon>

    Segundo nivel
    <li>
      <a routerLink="/proyectos" class="mat-body-1">Proyectos</a>
    </li> -->

      @for(item of data().menu; track item.url; let isLast = $last) {
        
        @if (!isLast) {
            <li aria-current="page" class="mat-body-1 active"
                  [routerLink]="item.url"
            >{{ item.option }}</li>
            <mat-icon aria-hidden="true">chevron_right</mat-icon>
              
        } @else {
            <li aria-current="page" class="mat-body-1" >{{ item.option }}</li>
        }        
      }

  </ol>
  
</nav>