@use '../../../../../styles/abstracts' as a;

 

.login-page {

}

form {
  display: flex;
  flex-direction: column;
  gap: a.$spacing-lg;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: a.$spacing-sm;  
}

.wraperRemember{
  & a{font-size: 12px;}
}

button{
  margin: 10px 0 0 0;
  width:100%;
} 