 
  <app-auth-card
  
      title="Welcome back"
      subtitle="Sign in to MyApp"

  >

    <!-- HEADER -->
    <!-- <ng-container header>
        <h1 class="auth-title">Welcome back</h1>
        <p  class="auth-subtitle">Sign in to Myapp</p>        
    </ng-container> -->


    <!-- BODY -->
    <ng-container body>
        <form>
    
          <div class="form-group">
    
            <label for="username">Usuario</label>    
            <div class="form-control-wrapper">
              <mat-icon>person</mat-icon>
              <input
                id="username"
                [(ngModel)]="username"
                name="username"
                class="form-control"
                type="text" 
                placeholder="Introduce tu usuario">
            </div>
    
          </div>
    
          <div class="form-group">
    
            <label for="password">Contraseña</label>    
            <div class="form-control-wrapper">
              <mat-icon>lock</mat-icon>
              <input
                id="password"
                [(ngModel)]="password"
                name="password"
                class="form-control"
                type="password" 
                placeholder="Introduce tu contraseña">
            </div>
    
          </div> 
    
        @if (errorMessage || authStore.error() ) {

          <div class="login-error">
            <mat-icon>error</mat-icon>
            <span>{{ errorMessage || authStore.error() }}</span>
          </div>

        } 
             
          <p class="d-flex d-between d-alignItemsCenter wraperRemember" >
              <a href="aaa">Remember Me</a>
              <a routerLink="/auth/forgot" title="Forgot Password?.." class="">Forgot Password?</a>
          </p>

      </form>


        <form [formGroup]="loginForm" 
              (ngSubmit)="onSubmit()"
              class="login-form">

          <mat-form-field appearance="outline" class="rounded-field">
            <mat-label>Usuario</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input
              type="text"
              matInput
              class="form-control"
              formControlName="username"
              placeholder="Introduce tu usuario"/>
 
              <!-- @if (loginForm.get('username')?.hasError('required')) {
                <mat-error>
                  El usuario es obligatorio
                </mat-error>
              } -->

            @if (FormValidation.showError(loginForm, 'username')) {
               <mat-error>
                    {{ FormValidation.getError(loginForm, 'username') }}
               </mat-error>
            }


          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <mat-icon matPrefix>lock</mat-icon>

            <input
              matInput
              class="form-control"
              [type]="hide() ? 'password' : 'text'"
              formControlName="password"
              placeholder="Introduce tu contraseña" />

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="clickEvent($event)">
              <mat-icon>
                {{ hide() ? 'visibility_off' : 'visibility' }}
              </mat-icon>
            </button>

            <!-- @if (loginForm.get('password')?.hasError('required')) {
              <mat-error>
                   La contraseña es obligatoria
              </mat-error>
            }
            @if (loginForm.get('password')?.hasError('minlength')) {
              <mat-error>
                  La contraseña debe tener al menos 6 caracteres
              </mat-error>
            }           -->

            @if (FormValidation.showError(loginForm, 'password')) {
               <mat-error>
                    {{ FormValidation.getError(loginForm, 'password') }}
               </mat-error>
            }

          </mat-form-field> 
          
          @if (errorMessage || authStore.error() ) {

            <div class="login-error">
              <mat-icon>error</mat-icon>
              <span>{{ errorMessage || authStore.error() }}</span>
            </div>

          } 
                
          <p class="d-flex d-between d-alignItemsCenter wraperRemember" >
              <!-- <a href="aaa"><input type="checkbox" formControlName="rememberMe">Remember Me</a> -->
              <a routerLink="/auth/forgot" title="Forgot Password?.." class="">Forgot Password?</a>
          </p>

<!-- <pre>{{ loginForm.value | json }}</pre> -->
          
          <button
              class="btn btn-primary"
              type="submit"
              [class.btn-disabled]="loginForm.invalid"
              [disabled]="loginForm.invalid || loadingService.isLoading()">
              @if (loadingService.isLoading()) {
                Accediendo...
              } @else {
                SIGN IN
              }
          </button> 

        </form>

        <!-- <p>form is valid: {{ loginForm.valid }}</p>
        <p>form is invalid: {{ loginForm.invalid }}</p>
        <pre>{{ loginForm.value | json }}</pre> --> 

    </ng-container>

    <!-- FOOTER -->
    <ng-container footer> 

        <p class="secondary-text text-center"> Don't have an account?
            <br>
            <a routerLink="/auth/create" title="Create one..">Click here to create one</a>
        </p>

    </ng-container>


  </app-auth-card>